{% extends 'base.html' %}

<
{% block body %}
<br>
<div class="btn-group">
    <a href="#" class="btn btn-primary btn-md" role="button">Product</a>
    <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

    <a href="#" class="btn btn-primary btn-md" role="button">Laptop</a>
    <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

    <a href="#" class="btn btn-primary btn-md" role="button">Desktop</a>
    <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

    <a href="#" class="btn btn-primary btn-md" role="button">Mobile</a>
    <a href="#" class="btn btn-warning btn-sm" role="button">+</a>
    
  </div>
<br>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>id</th>
          <th>designation</th>
          <th>category</th>
          <th>forme</th>
          <th>ppv</th>
          <th>pph</th>
          <th>quantity</th>
        </tr>
      </thead>
    <tbody>
        
    </tbody>
  </table>

{% endblock %}